@import "tailwindcss";

@font-face {
  font-family: "Docallisme On Street";
  src:
    url("/fonts/DOCALLISME ON STREET.ttf") format("truetype"),
    url("/fonts/docallismeonstreet.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sedgwick Ave Display";
  src: url("/fonts/SedgwickAveDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* fonts from layout.tsx */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ruslan: var(--font-ruslan);
  --font-comforter: var(--font-comforter);
  --font-docallisme: var(--font-docallisme);
  --font-sedgwick: "Sedgwick Ave Display";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  background-color: black;
}
